.create-recipe-container {
    text-align: left;
    padding: 20px;
    background-color: #b3b2b2;

    font-family: Arial, sans-serif;
    position: relative; /* Make it relative to position the button */
  }
  
  .create-recipe-form {
    margin:  auto;
    max-width: 800px;
    background-color: #b3b2b2;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .form-group {
    margin-bottom: 15px;
    text-align: left; /* Align text to the left for better readability */
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
    font-size: 16px;
    font-weight: bold; /* Make the labels bold */
    color: #333; /* Darker color for better contrast */
  }
  
  .form-group input,
  .form-group select,
  .form-group textarea {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; /* Ensure padding and border are included in the element's total width and height */
  }
  
  .button-group {
    position: absolute; /* Absolute positioning */
    top: 20px; /* Adjust the top position as needed */
    right: 20px; /* Adjust the right position as needed */
    text-align: right; /* Align the button to the right */
  }
  
  .create-button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #c72fc7;
    color: white;
  }
  
  .create-button:hover {
    background-color: #3c30ae;
  }
  